 body {
  background: #c95f8a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgb(128, 225, 239);
  padding: 25px;
  width: 280px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(80, 198, 141, 0.1);
}

h1 {
  font-size: 40px;
  margin: 15px 0;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}
