 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0e9c55;
    padding: 20px;
}

/* HEADER */
.header {
    background: linear-gradient(135deg, #f4f00a, #6366f1);
    color: rgb(43, 157, 214);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(248, 246, 246, 0.2);
}

.header h1 {
    margin-bottom: 5px;
}

/* PROFILE CARD */
.profile-card {
    display: flex;
    gap: 20px;
    align-items: center;
    background: rgb(205, 168, 21);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.profile-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #4f46e5;
}

.profile-info h2 {
    color: #1f2933;
}

.profile-info h4 {
    color: #4f46e5;
    margin: 5px 0;
}

.profile-info p {
    color: #555;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    background: rgb(32, 81, 147);
    padding: 20px;
    width: calc(33.33% - 14px);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(47, 16, 186, 0.15);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #9e0a2f;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background: #056f93;
    color: rgb(146, 139, 11);
    text-decoration: none;
    border-radius: 6px;
}

/* RESPONSIVE UPGRADE */
@media (max-width: 900px) {
    .card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .profile-card {
        flex-direction: column;
        text-align: center;
    }
}
